stages:
  - tests
  - publish

default:
  before_script:
    - pip install poetry
  tags:
    - KUBERNETES
    - LINUX

variables:
  POETRY_CACHE_DIR: "$CI_PROJECT_DIR/.cache/poetry"

tests:
  stage: tests
  image: python:$PYTHON_VERSION
  cache:
    paths:
      - .cache/poetry
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.13"]
  script:
    - poetry install
    - poetry run ruff check
    - poetry run ruff format --check
    - poetry run pylint src/python_project
    - poetry run pytest
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

publish_package:
  stage: publish
  image: python:3.13
  only:
    - tags
  script:
    - poetry config repositories.gitlab ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - poetry config http-basic.gitlab gitlab-ci-token ${CI_JOB_TOKEN}
    - poetry build
    - poetry publish --repository gitlab
